table {
	width:100%;
}

#jar {
	position:relative;

	height:600px;
	width:350px;

	margin-left: auto;
	margin-right: auto;

}

#jar > div:nth-child(1) {
	position:absolute;
	height:100%;
	width:100%;
	z-index:9001;

	background:url(/gfx/jar.png);
}

#console {
	background:#eee;
	height:300px;
	overflow-y:scroll;
}

.firefly {
	position:absolute;
	z-index:9000;

	background:url(/gfx/firefly.png);
	display:none;
	font-family:arial,helvetica,sans-serif;
	font-size:10px;
	height:32px;
	width:32px;
}

.firefly > div {
	position:absolute;
	top:0px;left:0px;

	background-image:url(/gfx/glow.png);
	display:none;
	height:100%;
	width:100%;
}

.firefly.player {
	background:url(/gfx/firefly-player.png);
	color:#a00;
}

.row.tight
{ margin-left: -0.25rem; margin-right: -0.25rem; }

.row.tight *[class^='col']
{ padding-left: .25rem; padding-right: .25rem; }
